* {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    
    text-align: center;
    margin-top: 20vh;
    
}

#time-zone-select {
    visibility: hidden;
}

#time-zone-label {
    visibility: hidden;

}

button {
    font-size: 20px;
    padding: 15px 25px;
    appearance: none;
    -webkit-appearance: none;
}

button.pressed {
    transform: scale(0.96);
}  